<div class="row footer-row">
    <hr class="bg-c500" style="clear: both"/>
    <footer>
        <div class="container footer-container">

            <p class="smaller">&copy;{{copyrightyears}} LSERSA, all rights reserved</p>

            <div id="social-media">
                
            </div>

            <a href="https://www.facebook.com/LSERSA/" style="text-decoration: none; margin-right: 10px;" target="_fb">
                {% socialImage './src/img/social/fb.png', 'Facebook'%}
            </a>

            <a href="https://www.instagram.com/lsersa_uk/" style="text-decoration: none" target="_insta">
                {% socialImage './src/img/social/insta.png', 'Instagram'%}
            </a>

        </div>
    </footer>
</div>