<br>
<hr />
<h2 class="as-h3">Links to other years' results</h2>
{% for year in races %}
    {% if loop.first %}
        <a class="year-lozenge-wrap" href="/races/">
            <div class="year-lozenge">
                {{ year.year}}
            </div>
        </a>
    {% else %}
        <a class="year-lozenge-wrap" href="/races/{{ year.year }}/">
            <div class="year-lozenge">
                {{ year.year}}
            </div>
        </a>
    {% endif %}
{% endfor %}