div.triple-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    div.reason-box {
        display: flex;
        justify-content: center;
    }
}

img.homepage-icon {
    height: 100px;
    width: 100px;
    margin: 1.0rem 0;
}

.banner-header, .reason-text {
    text-align: center;
}

.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 40%;
  position: relative;
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-shade {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  left: 1.0rem;
  top: 1.0rem;
  width: 75%;
  font-size: 8.0rem;
  font-weight: 500;
  margin-top: 0;
  padding-top: 0;
  overflow-wrap: normal;
  line-height: 1.0;
  padding-bottom: 1.0rem;
  border-bottom: 10px solid #fff;
  letter-spacing: -.1rem;

  @include for-tablet-only {
    font-size: 7.0rem;
    border-bottom-width: 8px;
  }

  @include for-phone-only {
    font-size: 5.0rem;
    border-bottom-width: 7px;
  }
}

.sponsor-logo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 630px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sponsor-logo-grid-item {
  width: 200px;
  margin: 1.0rem auto;

  @media (max-width: 700px) {
    width: 150px;
  }

}

.sponsor-image {
  width: 200px;
  height: auto;

  @media (max-width: 700px) {
    width: 150px;
  }

}