---
layout: layouts/devtest.njk
title: Typology
tags: devtest
description: Examples of typography styles
permalink: /dev-tests/typology/
---

<div class="row">
    <h1>Main header (h1)</h1>
    <p>This is a paragraph. Most of the other paragraphs are going to be generated using
        <a href="https://pirateipsum.me/" target="_offsite">Pirate Ipsum</a> (and that
        was an example of a link).</p>
    </p>
    <h2>Paragraph &amp; unordered list (h2)</h2>
    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace
        holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen <code>halter
        furl</code>. <b>(that was an example of a code tab)</b>. Swab barque interloper chantey
        doubloon starboard grog black jack gangway rutters.</p>
    <ul>
        <li>unordered list</li>
        <li>example list</li>
    </ul>
    <h3>paragraph &amp; ordered list (h3)</h3>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike
        colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers
        to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot
        yardarm spyglass sheet transom heave to.</p>
    <ol>
        <li>ordered list</li>
        <li>example list</li>
    </ol>
    <h4>Paragraph &amp; blockquote (h4)</h4>
    <p>Short paragraph with <strong>some bold text</strong> and <i>some emphasised text</i> ahead of
        the following <b>blockquote</b>:</p>
    <blockquote>
        <p>This is an example of a <b>blockquote</b>. By default the line to the left of the text
            will be <code>d700</code>, but you can specify any of the standard colors by adding the
            color name as a class on the blockquote (with no prefix).</p>
        <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me
            timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.
            Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom
            spirits.</p>
    </blockquote>
    <h5>Two paragraphs (h5)</h5>
    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone
        mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper
        chantey doubloon starboard grog black jack gangway rutters.</p>
    <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me
        timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.
        Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom
        spirits.</p>
    <h6>Sub-header (h6)</h6>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike
        colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to
        go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm
        spyglass sheet transom heave to.</p>
</div>