---
layout: "layouts/hero.njk"
title: About
hero_text: "ABOUT<br>LSERSA"
permalink: /about/
---

<div class="row">
    
    <h1 class="underlined">About LSERSA</h1>
    
    <div class="column-container">
        <div>
            <p>The London &amp; South East Regional Ski Association (LSERSA) was first set up in 1970 to
                represent skiers in the South Eastern counties of England. LSERSA has solid relationships
                with many other regions as well as the Home Nation Governing Bodies (HNGBs). It is one of
                the eight regions that are currently affiliated to Snowsport England (SSE), and through it
                to GB Snowsport.</p>

            <p>In 2006 the region changed its name to the London &amp; South East Regional Snowsports
                Association to reflect the expanding diversity of the region and its members. Today LSERSA
                represents a variety of snowsports clubs including alpine and freestyle skiing,
                snowboarding, telemark and skiercross.</p>

            <p>As well as running the <a href="/races/">Summer Race Series</a>, LSERSA runs weekly
                <a href="/training/">slalom training</a> sessions together with ad-hoc skiercross and
                telemark training, and supports local school ski racing.</p>
        </div>

        <div class="right-column">
            <div class="sponsor-logo-grid-item">
                <a href="https://www.snowsportengland.org.uk/" target="sse">
                    {% sponsorImage './src/img/logos/sse.png', 'Snowsport England' %}
                </a>
            </div>
            <div style="height: 10px;"></div>
            <div class="sponsor-logo-grid-item">
                <a href="https://gbsnowsport.com/" target="gbss">
                    {% sponsorImage './src/img/logos/gbss.png', 'GB Snowsport' %}
                </a>
            </div>
        </div>

    </div>
    
</div>